{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="chi content1">
	<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
	<!-- Header -->
	<div class="w3-top" >
		<div class="w3-bar w3-dark-grey w3-card-4">
			<a href="/" class="w3-bar-item" style="padding:0.75em 0 0 1.25em;"><h4 class="w3-text-white" >INFOR ACADEMY</h4></a>
			<div class="w3-bar-item w3-right">
			<a class="w3-bar-item  w3-large w3-right w3-button w3-xlarge" onclick="w3_open()">&#9776;</a>	
				<form method="GET" action="/search" style="display:inline;" class="w3-hide-small">
					<input type="text" class="w3-bar-item" name="q" placeholder="Search" />
					<button type="submit" class="w3-bar-item"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>
	<!-- Sidebar -->
	<div class="w3-sidebar w3-bar-block w3-animate-right 3 w3-large w3-dark-grey w3-top" style="width:200px;display:none;z-index:5;right:0;" id="mySidebar">
		<a class="w3-bar-item w3-right-align w3-button" onclick="w3_close()">X</a>
		<form method="GET" action="/search" style="display:inline;" class="w3-hide-medium w3-hide-large">
		<input type="text" class="w3-bar-item" name="q" placeholder="Search" />
					<button type="submit" class="w3-bar-item"><i class="fa fa-search"></i></button>
				</form>
		{% for course in courses %}
			<a href="#" class=" w3-bar-item w3-button w3-block w3-left-align w3-bottombar" onclick="DpD{{forloop.counter}}()">{{ course.Topic }}<i class="fa fa-caret-down w3-right"></i>
			</a>
			<div id="Dropdown{{forloop.counter}}" class="w3-hide w3-light-grey w3-card">
				{% for art in course.Article.all %}
					{% if art.Show == True %}
						<a href="/{{course.Topic}}/{{art.id}}" class="w3-bar-item w3-button">{{art.Title}}</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<!--content-->
	<div style="padding-top:100px;" class="w3-animate-opacity w3-light-grey w3-container" >
		<div class="w3-container">
			<h1 class="w3-xxlarge w3-center">{{ article.Title }}<span class="w3-small w3-opacity w3-margin" id="date1">{{ article.Date }}</span></h1>
			<h5>{{ article.Content | safe | linebreaksbr }}</h5>
		</div>
	</div>
</div>
{% endblock %}