<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>INFOR-Academy</title>
	<!-- MathJax -->
	<script type="text/javascript" src=" {% static "MathJax/MathJax.js" %}?config=TeX-AMS_HTML-full">
	</script>
	<!-- highlight.js -->
	<!--
	<link rel="stylesheet" href="{% static "highlight/styles/Xcode.css" %}">
	<script src="{% static "highlight/highlight.pack.js" %}"></script>
	<script> hljs.initHighlightingOnLoad(); </script>
	-->
	<!-- prism.js -->
	
	<link href="{% static "prism/prism.css" %}" rel="stylesheet" />
	<script src="{% static "prism/prism.js" %}"></script>
	<!-- template -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
</head>
	{% block content %} {% endblock %}
</html>