{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<body class="landing">
	<!-- Page Wrapper -->
	<div id="page-wrapper" class="chi">
		<!-- Header -->
		<header id="header" class="alt">
			<div class="w3-bar w3-dark-grey w3-card-4">
				<a href="/" class="w3-bar-item" style="padding:0.75em 0 0 1.25em;"><h4 class="w3-text-white" >INFOR ACADEMY</h4></a>
				<div class="w3-bar-item w3-right">	
					<form method="GET" action="/search" style="display:inline;">
						<input type="text" class="w3-bar-item" name="q" placeholder="Search" />
						<button type="submit" class="w3-bar-item"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</header>
		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2 class="w3-text-white">INFOR Academy</h2>
				<p>不管身置何處<br />
				都是你的教室<br />
				</p>
			</div>
			<a href="#one" class="more scrolly">課程在下方</a>
		</section>
		<!-- One -->
		<section id="one" class="wrapper style1 ">
			<div class="inner">
				<section class="tiles">
					{% for course in courses %}
						<article class="style{{forloop.counter}}">
						<span class="image">
							<img src="{% static "images/pic04.jpg" %}"/>
						</span>
						<a href="/{{ course.Topic }}">
							<h2> {{ course.Topic }}</h2>
						</a>
					</article>
					{% endfor %}
				</section>
				</div>
		</section>
	</div>
</body>
{% endblock %}
